.home-page {
  padding: 8px;
  .ant-row {
    > div {
      padding: 8px;
    }
  }
  .router-card-body {
    line-height: 2;
  }
  .ant-card-extra {
    a {
      color: #1890ff;
      vertical-align: middle;
      &:hover {
        color: tint(#1890ff, 20%);
      }
      &:active {
        color: #1890ff;
      }
    }
  }
}