.login-page {
  padding-top: 10%;
  .logo {
    width: 120px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .version {
    margin: 15px auto;
    width: 160px;
    text-align: center;
  }
  .actions {
    width: 160px;
    margin: 0 auto;
    > button {
      margin-bottom: 15px;
    }
  }
  .create-form {
    width: 80%;
  }
}